.hl {
	tab-size: 4;
	padding: 1em;
	background-color: #2c292d;
	color: #f8f8f2;
}

.hl span.kw, .hl span.ar {
	color: #78dce8;
}

.hl span.skw, .hl span.op {
	color: #f92672;
}

.hl span.fnc {
	color: #a6e22e;
}

.hl span.spc {
	color: #fd971f;
}

.hl span.num, .hl span.bool, .hl span.null, .hl span.ud {
	color: #ae81ff;
}

.hl span.str {
	color: #e6db74;
}

.hl span.cmt {
	color: #75715e;
}
